<main>
  <div class="container">
    <% if notice %>
    <div class="row">
      <p id="notice"><%= notice %></p>
    </div>
    <% end %>
    <div class="row">
      <div class="col s6">
        <p>
          <%= image_tag @profile.profile_image.url(:thumb) %>
        </p>
        <p>
          <%= image_tag @profile.drivers_license_copy.url(:thumb) %>
        </p>
      </div>
      <div class="col s6">
        <p>
          <strong>Name:</strong>
          <%= @profile.display_field %>
        </p>
        <p>
          <strong>Date of Birth:</strong>
          <%= @profile.date_of_birth %>
        </p>
        <p>
          <strong>Drivers License:</strong>
          <%= @profile.drivers_license_id %>
        </p>
        <p>
          <strong>Car Type:</strong>
          <%= @profile.car_type_name %>
        </p>
        <p>
          <strong>Operation Hours:</strong>
          <%= @profile.operation_hour_name %>
        </p>
        <p>
          <strong>Contact Method:</strong>
          <%= @profile.contact_method_name %>
        </p>
      </div>
    </div>
    <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s4"><a class="active" href="#profile-address">Address</a></li>
            <li class="tab col s4"><a href="#profile-location">Location</a></li>
            <li class="tab col s4"><a href="#profile-emergency-contact">Contacts</a></li>
          </ul>
        </div>
        <div id="profile-address" class="col s12">
          <p>
            <strong>City:</strong>
            <%= @profile.address.city %>
          </p>
          <p>
            <strong>Sub City:</strong>
            <%= @profile.address.sub_city %>
          </p>
          <p>
            <strong>Woreda:</strong>
            <%= @profile.address.woreda %>
          </p>
          <p>
            <strong>Kebele:</strong>
            <%= @profile.address.kebele %>
          </p>
          <p>
            <strong>House Number:</strong>
            <%= @profile.address.house_number %>
          </p>
          <p>
            <strong>Phone Number:</strong>
            <%= @profile.address.phone_number %>
          </p>
        </div>
        <div id="profile-location" class="col s12">
          <p>
            <strong>Location:</strong>
            <%#= @profile.driver.location %>
          </p>
          <p>
            <strong>Latitude:</strong>
            <%#= @profile.driver.location_lat %>
          </p>
          <p>
            <strong>Longitude:</strong>
            <%#= @profile.driver.location_long %>
          </p>
        </div>
        <div id="profile-emergency-contact" class="col s12">
          <%= render "/emergency_contacts/index" %>
        </div>
      </div>
  </div>
</main>
