<%= form_for(@user_role, remote: true) do |f| %>

<div class="modal-content">
  <ul class="errors"></ul>
  <div class="row">
    <div class="col s12">
      <div class="input-field">
        <%= f.hidden_field :user_id, value: @user.id %>
      </div>
      <div class="input-field">
        <%= f.collection_select(:role_id, @available_roles, :id, :name, {:prompt => true}) %>
        <%= f.label :role_id %>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <%= f.submit "Submit", {:class => "btn blue-grey darken-3 waves-effect waves-light"} %>
  <%= link_to "Cancel", "#", class: "btn modal-close", data: {dismiss: "modal"} %>
</div>
<% end %>
