<%= form_for(@permission, remote: true) do |f| %>
<div class="modal-content">
  <ul class="errors"></ul>
  <div class="row">
    <div class="col s12">
      <div class="input-field">
        <select name="permission[controller]" id="controller">
          <option value="0">Please Select Controller</option>
            <% @available_controllers.each do |controller| %>
              <option value="<%= controller %>"><%=  controller %></option>
            <% end %>
        </select>
        <%= f.label :controller %>
      </div>
    </div>
    <div class="col s12">
      <div class="input-field">
        <select name="permission[action]" id="action">
            <option value="0">Please select</option>
        </select>
        <%= f.label :action %>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit "Submit", {:class => "btn blue-grey darken-3 waves-effect waves-light"} %>
      <%= link_to "Cancel", "#", class: "btn modal-close", data: {dismiss: "modal"} %>
    </div>
  </div>
</div>
<% end %>
