<%= form_for(@emergency_contact, url: driver_contacts_path(@driver), method: :post, remote: true) do |f| %>

<div class="modal-content">
  <ul class="errors"></ul>
  <div class="row">
    <div class="col s12">
      <div class="input-field">
        <%= f.hidden_field :driver_id, value: @driver.id %>
      </div>
      <div class="input-field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="col s12">
      <div class="input-field">
        <%= f.collection_select(:relationship_id, @relationships, :id, :name, {:prompt => true}) %>
        <%= f.label :relationship_id %>
      </div>
    </div>
    <div class="col s12">
      <div class="input-field">
        <%= f.label :phone_number %><br>
        <%= f.text_field :phone_number %>
      </div>
    </div>
  </div>
  <div class="row">
    <%= f.submit "Submit", {:class => "btn blue-grey darken-3 waves-effect waves-light"} %>
    <%= link_to "Cancel", "#", class: "btn modal-close", data: {dismiss: "modal"} %>
  </div>
</div>
<% end %>
