<%= form_for(@role_permission, remote: true) do |f| %>
<div class="modal-content">
  <ul class="errors"></ul>
  <div class="row">
    <div class="col s12">
      <div class="input-field">
        <%= f.hidden_field :role_id, value: @role.id %>
      </div>
      <div class="input-field">
        <%= f.collection_select(:permission_id, @available_permissions, :id, :display_field, {:prompt => true}) %>
        <%= f.label :permission_id %>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <%= f.submit "Submit", {:class => "btn blue-grey darken-3 waves-effect waves-light"} %>
  <%= link_to "Cancel", "#", class: "btn modal-close", data: {dismiss: "modal"} %>
</div>
<% end %>
