<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Sub city:</strong>
  <%= @address.sub_city %>
</p>

<p>
  <strong>Woreda:</strong>
  <%= @address.woreda %>
</p>

<p>
  <strong>Kebele:</strong>
  <%= @address.kebele %>
</p>

<p>
  <strong>House number:</strong>
  <%= @address.house_number %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
