<main>
  <div class="container">
    <div class="row">
      <div class="col s12">

        <p id="notice"><%= notice %></p>

        <h4>Drivers</h4>

        <table id="drivers-list"class="striped">
          <thead>
            <tr>
              <th>
                <%= link_to "Active", "#{drivers_path()}?page=#{@drivers.current_page}&sort=is_active" %>
                <% if @sort == "is_active" %>
                  <% if @direction == "desc" %>
                    <%= link_to raw("<i class='material-icons'>keyboard_arrow_down</i>"), "#{drivers_path()}?page=#{@drivers.current_page}&sort=is_active&direction=asc" %>
                  <% else %>
                    <%= link_to raw("<i class='material-icons'>keyboard_arrow_up</i>"), "#{drivers_path()}?page=#{@drivers.current_page}&sort=is_active&direction=desc" %>
                  <% end %>
                <% end %>
              </th>
              <th>
                <%= link_to "Name", "#{drivers_path()}?page=#{@drivers.current_page}&sort=name" %>
                <% if @sort == "name" %>
                  <% if @direction == "desc" %>
                    <%= link_to raw("<i class='material-icons'>keyboard_arrow_down</i>"), "#{drivers_path()}?page=#{@drivers.current_page}&sort=name&direction=asc" %>
                  <% else %>
                    <%= link_to raw("<i class='material-icons'>keyboard_arrow_up</i>"), "#{drivers_path()}?page=#{@drivers.current_page}&sort=name&direction=desc" %>
                  <% end %>
                <% end %>
              </th>
              <th>
                <%= link_to "Phone Number", "#{drivers_path()}?page=#{@drivers.current_page}&sort=phone_number" %>
                <% if @sort == "phone_number" %>
                  <% if @direction == "desc" %>
                    <%= link_to raw("<i class='material-icons'>keyboard_arrow_down</i>"), "#{drivers_path()}?page=#{@drivers.current_page}&sort=phone_number&direction=asc" %>
                  <% else %>
                    <%= link_to raw("<i class='material-icons'>keyboard_arrow_up</i>"), "#{drivers_path()}?page=#{@drivers.current_page}&sort=phone_number&direction=desc" %>
                  <% end %>
                <% end %>
              </th>
              <th>
                <%= link_to "Location", "#{drivers_path()}?page=#{@drivers.current_page}&sort=location" %>
                <% if @sort == "location" %>
                  <% if @direction == "desc" %>
                    <%= link_to raw("<i class='material-icons'>keyboard_arrow_down</i>"), "#{drivers_path()}?page=#{@drivers.current_page}&sort=location&direction=asc" %>
                  <% else %>
                    <%= link_to raw("<i class='material-icons'>keyboard_arrow_up</i>"), "#{drivers_path()}?page=#{@drivers.current_page}&sort=location&direction=desc" %>
                  <% end %>
                <% end %>
              </th>
              <th>
                <%= link_to "Trips", "#{drivers_path()}?page=#{@drivers.current_page}&sort=trips" %>
                <% if @sort == "trips" %>
                  <% if @direction == "desc" %>
                    <%= link_to raw("<i class='material-icons'>keyboard_arrow_down</i>"), "#{drivers_path()}?page=#{@drivers.current_page}&sort=trips&direction=asc" %>
                  <% else %>
                    <%= link_to raw("<i class='material-icons'>keyboard_arrow_up</i>"), "#{drivers_path()}?page=#{@drivers.current_page}&sort=trips&direction=desc" %>
                  <% end %>
                <% end %>
              </th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <%= render "index" %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">
                <%= page_navigation_links @drivers %>
              </td>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>
  </div>
</main>

<%= link_to raw('<i class="material-icons">add</i>'), new_driver_path, class: "btn-floating btn-large waves-effect waves-light yellow darken-2 black-text action-button"%>

<div id="driver-modal" class="modal"></div>
